
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<section class="main">
    <div class="container-login">
        <div class="login">
            <span class="top-img">
               
                <img src="~/Content/img/login/top-logo.png" alt="Logo" />
            </span>
            <form class="login-form">
                <div class="heading">
                    <h4 class="text-center">Login</h4>
                    <p class="text-center">Enter your email address and password to login</p>
                </div>
                <div class="form-group x-b-30">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter Your Email">

                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6" style="width: 30%;">
                            <label for="password" style="display: inline-block;">Password</label>
                        </div>
                        <div class="col-md-6" style="width: 70%;">
                            <label for="password" style="margin-top: 0; text-align: right;">
                                <a href="ForgotPassword.html"><span>Forgot Password?</span></a>
                            </label>
                        </div>
                    </div>
                    <div class="eye">
                        <input type="password" id="password" class="form-control" placeholder="Password"
                               name="password">
                        <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password">
                        </span>
                    </div>
                    <small id="error" class="form-text">
                        <span>
                            The password that you've enter is not
                            correct.
                        </span>
                    </small>
                </div>
                <div class="form-group login-checkbox">
                    <input type="checkbox" id="login-check">
                    <label for="login-check">Remember Me</label>
                </div>
                <button type="button" class="btn btn-primary btn-lg btn-block x-b-20" id="login-btn">LOGIN</button>
                <p class="text-center" id="signUp">Don't have an account?  <a href="SignUp.html"><span>Sign Up</span></a></p>

            </form>
        </div>
    </div>
</section>
