
@{
    ViewBag.Title = "Faq";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="banner-image x-t-100">
    <div class="banner-text">
        <h1>Frequently Asked Questions</h1>
    </div>
</div>
<!-- FAQ banner end -->

<div id="faq" class="container">

    <div class="faq-heading">
        <h3>General Questions</h3>
    </div>

    <div class="according">

        <div class="q">
            <div class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#q1">
                <h5 class="accordion-toggle faq-qstn">What is Marketplace-Notes?</h5>
            </div>
            <div id="q1" class="collapse">
                <div class="faq-ans">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                    single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                    labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                    Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                    haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>

        <div class="q">
            <div class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#q2">
                <h5 class="accordion-toggle faq-qstn">What do the Unvidersity say?</h5>
            </div>
            <div id="q2" class="collapse">
                <div class="faq-ans">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                    single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                    labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                    Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                    haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>

        <div class="q">
            <div class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#q3">
                <h5 class="accordion-toggle faq-qstn">Is this legal?</h5>
            </div>
            <div id="q3" class="collapse">
                <div class="faq-ans">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                    single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                    labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                    Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                    haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>

    </div>


    <div class="faq-heading">
        <h3>Uploaders</h3>
    </div>

    <div class="according">

        <div class="q">
            <div class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#q4">
                <h5 class="accordion-toggle faq-qstn">What can't I sell?</h5>
            </div>
            <div id="q4" class="collapse">
                <div class="faq-ans">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                    single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                    labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                    Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                    haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>

        <div class="q">
            <div class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#q5">
                <h5 class="accordion-toggle faq-qstn">What notes can I sell?</h5>
            </div>
            <div id="q5" class="collapse">
                <div class="faq-ans">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                    single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                    labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                    Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                    haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>

    </div>


    <div class="faq-heading">
        <h3>Downloaders</h3>
    </div>

    <div class="according">

        <div class="q">
            <div class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#q6">
                <h5 class="accordion-toggle faq-qstn">How do I buy notes?</h5>
            </div>
            <div id="q6" class="collapse">
                <div class="faq-ans">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                    single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                    labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                    Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                    haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>

        <div class="q">
            <div class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#q7">
                <h5 class="accordion-toggle faq-qstn">Can I edit the notes I purchased?</h5>
            </div>
            <div id="q7" class="collapse">
                <div class="faq-ans">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomisedThere</div>
            </div>
        </div>

    </div>

</div>
<!-- FAQ Ends -->
