
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="home">
    <div class="home_img">

        <div class="container">
            <div class="home-text">
                <div class="vertical-center">
                    <h1>Download Free/Paid Notes <br>or Sale your Books</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipi corporis placeat ratione <br>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Und
                    </p>
                    <div class="overlay_btn x-t-30">
                        <button type="button" class="btn btn-outline-light">LEARN MORE</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>

<!-- about -->
<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 about_heading">
                <span>About</span><br><span>
                    NotesMarketPlace
                </span>
            </div>
            <div class="col-md-6 about_text">
                <p id="about_p1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde qui soluta quisquam laudantium corporis placeat ratione facilis corrupti, fuga veritatis perferendis nam odio, voluptatibus hic alias autem provident. Labore, maxime.</p>
                <p id="about_p2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut rerum veritatis deserunt accusantium, natus ad quod nam sapiente amet aut! Qui, a nemo delectus, earum beatae error tempore vitae magni.</p>
            </div>
        </div>
    </div>
</section>


<!--  work  -->
<section class="work">
    <div class="container">
        <div class="row">
            <div class="col-md-12 work_heading">
                <span>How it Works</span>
            </div>
            <div class="col-md-6 work_content">
                <div class="logo">
                   
                    <img src="~/Content/img/User-Profile/Download.PNG" />
                </div>
                <div class="sub_heading">
                    <span>Download Free/Paid Notes</span>
                </div>
                <div class="work_text">
                    <span>Get Material For your <br>Cource etc.</span>
                </div>
                <div class="work_btn">
                    <a href="#"><button type="button" class="btn btn-primary work_btn" id="btn1"><span>Download</span></button></a>
                </div>
            </div>
            <div class="col-md-6 work_content">
                <div class="logo">
                    <img src="~/Content/img/User-Profile/Seller.PNG" />
                    
                </div>
                <div class="sub_heading">
                    <span>Seller</span>
                </div>
                <div class="work_text">
                    <span>Upload and Download Cource <br> and Materials etc.</span>
                </div>
                <div class="work_btn">
                    <a href="#"><button type="button" class="btn btn-primary work_btn" id="btn2"><span>Sell Book</span></button></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- work end -->
<!-- testimonial -->
<section class="testimonial">
    <div class="container">
        <div class="row">
            <div class="testimonial_heading col-md-12">
                <span>What our Customers are Saying</span>
            </div>
            <div class="col-md-6 team" id="team1">
                <div class="team1">
                    <div class="team_img col-md-6">
                      
                        <img src="~/Content/img/User-Profile/customer-1.png" />
                    </div>
                    <div class="team_intro">
                        <span class="team_name">Walter Meller</span><br>
                        <span class="team_job">Founder & CEO, Matrix Group</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda possimus illo numquam libero quibusdam voluptatem laboriosam esse</p>
                </div>
            </div>
            <div class="col-md-6 team" id="team2">
                <div class="team2">
                    <div class="team_img col-md-6">
                        <img src="~/Content/img/User-Profile/customer-2.png" />
                        
                    </div>
                    <div class="team_intro">
                        <span class="team_name">Jonnie Riley</span><br>
                        <span class="team_job">Employee, Curious Snacks</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda possimus illo numquam libero quibusdam voluptatem laboriosam esse</p>
                </div>
            </div>
            <div class="col-md-6 team" id="team3">
                <div class="team3">
                    <div class="team_img col-md-6">
                       
                        <img src="~/Content/img/User-Profile/customer-3.png" />
                    </div>
                    <div class="team_intro">
                        <span class="team_name">Amilia Luna</span><br>
                        <span class="team_job">Teacher, Saint Joseph High School</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda possimus illo numquam libero quibusdam voluptatem laboriosam esse</p>
                </div>
            </div>
            <div class="col-md-6 team" id="team4">
                <div class="team4">
                    <div class="team_img col-md-6">
                       
                        <img src="~/Content/img/User-Profile/customer-4.png" />
                    </div>
                    <div class="team_intro">
                        <span class="team_name">Daniel Cardos</span><br>
                        <span class="team_job">Software Engineer, Infinitum Company</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda possimus illo numquam libero quibusdam voluptatem laboriosam esse</p>
                </div>
            </div>
        </div>
    </div>
</section>
