* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: Open Sans;
}

.m-b-20{
    margin-bottom: 20px;
}

.m-t-30{
    margin-top: 30px;
}

.m-t-100{
    margin-top: 100px;
}

.m-t-160{
    margin-top: 160px;
}

.m-t-60{
    margin-top: 60px;
}

.main-wrap {
    width: 100%;
    margin: 0 auto;
}

.container-login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.container-login::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.wrap-login {
    width: 580px;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 50px;
    overflow: hidden;
    background: transparent;
}

.login-form {
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    padding: 50px;

}

.login-form-title {
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    display: block;
    padding-bottom: 25px;
}

.form-group label {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    padding-bottom: 10px;
}


.form-group input {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #000;
    height: 50px;
    border: 1px solid #6255a5;
}

.form-wrap .form-group input {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #8a8a8a;
    height: 50px;
    border: 1px solid #d1d1d1;
}

.form-wrap .form-group input[type="date"] {
    font-family: Open Sans !important;
    font-weight: 400 !important;
    color: #8a8a8a;
}

.form-group .input-group .custom-select option{
    font-weight: 400 !important;
    font-family: Open Sans !important;
    font-size: 16px !important;
    line-height: 20px !important;
    color: #8a8a8a !important;
}

.form-group .input-group select{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #8a8a8a;
    height: 50px;
    border: 1px solid #d1d1d1;
}
    
.form-group label span {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #6255a5;
    margin-bottom: 10px;
}

.login-checkbox input{
    border: 1px solid #d1d1d1;
    width: 30px;
    height: 30px;
    border-radius: 3px;
}

.login-checkbox input {
    border: 1px solid #d1d1d1;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    margin-bottom: 35px;
    
}

.login-checkbox label {
    padding-left: 20px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    margin-top: -60px;
    margin-left: 20px;

}

#not-account {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
}

#not-account span {
    color: #6255a5;
}

.login-form .m-b-30{
    margin-bottom: 30px;
}

.inputContainer span {
    float: right;
    margin-left: -25px;
    margin-top: -32px;
    padding-right: 30px;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

h4 {
    margin-bottom: 20px;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
}

.heading p {
    margin-bottom: 45px;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    color: #333333;
}

p {   
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}


#login-btn {
    background: #6255a5;
    border-radius: 3px;
    text-decoration-color: #6255a5;
    font-family:sans-serif;
    font-size: 18px;
    color:#fff;
    line-height: 22px;
}

#submit-btn {
    background: #6255a5;
    border-radius: 3px;
    text-decoration-color: #fff;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 22px;
}

#submit-btn-user {
    background: #6255a5;
    width: 150px;
    height: 40px;
    border-radius: 3px;
    text-decoration-color: #fff;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 22px;
}

#submit-btn-email-verify {
    background: #6255a5;
    border-radius: 3px;
    text-decoration-color: #fff;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 22px;
}

.signup-heading p{
    font-family: Open Sans;
    margin-bottom: 25px;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    color: #333333;
}
input {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #000;
}

label {
    margin: 0;
    display: block;
}

.error-password {
    margin-bottom: 20px;
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    color: #ff3636;

}


#signup-successfully p{
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    color: #32a852;
    text-align: center;
}
.signup-heading p {
    font-family: Open Sans;
    margin-bottom: 25px;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    color: #333333;
}


/* =========================================
                Email Verification
============================================ */

.wrap-email {
    width: 580px;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 50px;
    overflow: hidden;
}

.wrap-email p {
    font-family: Open Sans;
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #333333;
}

.email-verification-form{
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    padding: 30px;
}

.email-verification-form-title{   
    text-align: left;
    display: block;
    padding-bottom: 50px;
}

.email-verification-heading h4{
    font-family: Open Sans;
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
    color: #6255a5;
}

.email-verification-heading p{
    font-family: Open Sans;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #333333;
}


input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    width: 42px;
    height: 42px;
    border: 1px solid #d1d1d1;
}
.accordion-toggle:after {
   
    font-family: 'FontAwesome';
    font-size: 16px;
    font-weight: 100;
    content: "\f068";
    float: right;
    color: #b1b1b1;
}


.home{
    height: 620px;
    width: 100%;
}

.home_img{
    background-image: url(../images/banner-with-overlay.jpg);
    height: 620px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.home-text {
    position: absolute;
    top: 10%;
    height: 560px;
    width: 70%;
}

.vertical-center {
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.vertical-center h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 54px;
    color: #ffffff;
    margin: 0 0 20px 0;
}

.vertical-center p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #ffffff;
}

.home_navbar .navbar {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    background-color: transparent !important;
    position: fixed;
    width: 100%;
    z-index:999;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.sticky-nav .navbar{
    background-color: #fff !important;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.1) !important;   
}
.home_navbar .navbar .nav-item a{
    margin-right: 20px;
    font-family: Open sans;
    color: #fff;
}
.home_navbar .navbar .nav-item a:hover{
    color: #6255a5;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.sticky-nav .navbar .nav-item a{
    margin-right: 20px;
    font-family: Open sans;
    color: #333333;
}
.sticky-nav .navbar .nav-item a:hover{
    color: #6255a5;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.home_navbar .navbar .btn_login{
    width: 89px;
    height: 30px;
    color: #6255a5;
    background-color: #fff;
    border-radius: 3px;
    font-family: Open Sans;
    font-size: 16px;
    line-height: 22px;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    border: none;
    border: 1px solid #fff;
}
.home_navbar .navbar .btn_login:hover{
    color: #fff;
    background-color: #6255a5;
    -webkit-transition:all .6s;
    transition:all .6s;
    border: 1px solid #6255a5;
}
.sticky-nav .navbar .btn_login{
    width: 89px;
    height: 30px;
    color: #fff;
    background-color: #6255a5;
    border-radius: 3px;
    font-family: Open Sans;
    font-size: 16px;
    line-height: 22px;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    border: none;
    border: 1px solid #6255a5;
}
.sticky-nav .navbar .btn_login:hover{
    color: #6255a5;
    background-color: #fff;
    -webkit-transition:all .6s;
    transition:all .6s;
    border: 1px solid #6255a5;
}
/*-- Home Overlay --*/
.home_overlay{
    margin-top: 50px;
    width: 50%;
    position: absolute;
    top: 25%;
    z-index: 1;
    overflow: visible;
    color: #fff;
}
.home_overlay .heading{
    font-family: Open Sans;
    font-size: 50px;
    font-weight:700;
    line-height: 54px;
    color: #fff;
}
.home_overlay p{
    padding-top: 30px;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #fff;
    width: 100%;
}
.home-text .overlay_btn{
    width: 172px;
    height: 30px;
    border-radius: 3px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}
/*-- about --*/
.about{
    padding-top: 60px;
    padding-bottom: 60px;
}
.about_heading{
    font-family: Open Sans;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
}
.about_text{
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
}
#about_p1{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 50px;
}
#about_p2{
    margin-top: 0px;
    margin-bottom: 0px;
}
.work{
    background-color: #f9f9f9;
    padding-top: 60px;
    padding-bottom: 60px;
}
.work_heading{
    font-family: Open Sans;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
    text-align: center;
    margin-bottom: 60px;
}
.work .logo{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 140px;
    height: 140px;
    text-align: center;
    padding-top: 35px;
    background: #fff;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.08);
    border-radius: 50%;
}
.work .sub_heading{
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #6255a5;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.work .work_text{
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
    text-align: center;
}
.work .work_btn{
    text-align: center;
    margin-top: 20px;
}
.work .work_btn button{
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    background: #6255a5;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.work .work_btn button:hover{
    color: #6255a5;
    background: #fff;
}
.work .work_btn #btn1{
    width: 172px;
    height: 30px;
}
.work .work_btn #btn2{
    width: 150px;
    height: 30px;
}

/*--  testimonial  --*/
.testimonial{
    padding-top: 60px;
    padding-bottom: 60px;
}
.testimonial_heading{
    margin-bottom: 60px;
    text-align: center;
    font-family: Open Sans;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
}
.testimonial .team{
    padding-top: 40PX;
    padding-left: 40PX;
    padding-bottom: 40px;
    padding-right: 0;
    width: 705px;
    height: 278px;
    border-radius: 3px;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.08);
}
.testimonial .team_img{
    display: inline-block;
    width: 100px;
    height: 100px;
    align-content: center;
    padding: 0;
    transform: scale();
    border-radius: 50%;
    overflow: hidden;
    float: left;
}
.team_intro{
    padding-top:18px;
    height: 100px;
}
.team .team_name{
    margin-left: 20px;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: #6255a5;
}
.team .team_job{
    margin-left: 20px;
    margin-top: 15px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #333333;
    padding: 0;
}
.testimonial .team p{
    margin-top: 15px;
    margin-bottom: 40px;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    line-height: 28px;
    color: #333333;
}
#team1{
    margin-bottom: 30px;
/*    margin-right: 5px;*/
}
#team2{
    margin-bottom: 30px;
}

/* =========================================
                Navigation
============================================ */
.navbar {
    background: #fff !important;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
}
.navbar-light .navbar-nav .nav-link {
    padding-top: 20px;
    color: #333333;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.navbar-light .navbar-nav .nav-link:hover {
    -webkit-transition: all .3s;
    transition: all .3s;
    color: #6255a5;
}

.navbar-light .navbar-nav .nav-item img {
    border-radius: 50%;
    margin: 10px 30px 0 0;
}

.navbar-light .navbar-collapse .navbar-nav .active a {
    color: #6255a5;
    border-bottom: 2px solid #6255a5;
}

.navbar .btn_login {
    width: 89px;
    height: 30px;
    color: #fff;
    background-color: #6255a5;
    border-radius: 3px;
    font-family: Open Sans;
    font-size: 16px;
    line-height: 22px;
    padding: 0;
    margin: 0;
    margin-top: 16px;
    border: none;
    border: 1px solid #6255a5;
}

.navbar .btn_login:hover {
    color: #6255a5;
    background-color: #fff;
    -webkit-transition: all .6s;
    transition: all .6s;
    border: 1px solid #6255a5;
}

.navbar .nav-item .dropdown-menu {
    margin-right: 0px;
}

.navbar .nav-item .dropdown-menu .dropdown-item {
    padding-top: 10px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
}

.navbar .nav-item .dropdown-menu .dropdown-item:hover {
    background: #6255a5;
    color: #fff;
}

.navbar .nav-item .dropdown-menu .dropdown-item span {
    color: #6255a5;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar .nav-item .dropdown-menu .dropdown-item:hover span {
    background: #6255a5;
    color: #fff;
}

.navbar .nav-item .dropdown-menu .active {
    background: #6255a5;
    color: #fff;
}


.dropdown-menu .dropdown-item {
    padding-top: 10px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
}
.dropdown-menu .dropdown-item:hover {
    background: #6255a5;
    color: #fff;
}
    

.footer p {
    font-family: Open Sans;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
}

.footer ul.social-list {
    padding: 0;
    margin: 0;
}

.footer ul.social-list li {
    display: inline-block;
    padding: 0;
}

.footer ul.social-list li a {
    text-align: center;
    border: 1px solid #6255a5;
    background: #6255a5;
    width: 35px;
    height: 35px;
    display: inline-block;
    line-height: 35px;
    color: #fff;
    border-radius: 50%;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.footer ul.social-list li:nth-child(1) a:hover {
    background-color: #3b5998;
    border-color: transparent;
}

.footer ul.social-list li:nth-child(2) a:hover {
    background-color: #00aced;
    border-color: transparent;
}

.footer ul.social-list li:nth-child(3) a:hover {
    background-color: #dd4b39;
    border-color: transparent;
}